<br/>
<div style="position: relative;">
    <div class="form-group">
        <input #searchInput class="form-control mr-sm-2" (keyup)="search(searchInput.value)" type="search" aria-label="Search" placeholder="Busca de Billings">
    </div>

    <div class="list-group" style="position: absolute; width: 100%; left: 0; top: 35px; z-index: 1000;">
        <a *ngFor="let billing of billings" (click)="gotoBilling(billing)" class="list-group-item" style="cursor: pointer;">{{ billing.customer }}</a>
    </div>
</div>